<div class="container-fluid p-0">
<%= render "offcanvas" %>

  <%= form_with url: create_charity_path, model: @charity, id: 'new_charity' do |f| %>
    <%= f.hidden_field :author_id, value: current_user.id %>
    <div class="bg-white mt-5 mx-0 row display-1 field">
      <%= f.text_field :name, placeholder: 'Name', autocomplete: :off, class: 'border-0 px-5' %>
    </div>
    <div class="bg-white mt-3 mx-0 row display-1 field">
      <%= f.number_field :amount, placeholder: 'Amount', step: 0.01, class: 'border-0 px-5' %>
    </div>
    <div class="bg-white mt-3 mx-0 row display-1 field">
      <%= f.select :group_id, @groups, class: 'border-0 px-5 text-dark' %>
    </div>

    <div class="row actions justify-content-center mt-5 mx-0">
      <%= f.submit 'Save', class: 'col-5 bg-green text-white border-0 display-1 light'%>
    </div>

  <% end %>

</div>

